<div class="pics-list mdl-grid ps-page-content">

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
        <div class="ps-tool-container">
            <input class="mdl-textfield__input ps-search-box" type="text" ng-model="search" placeholder="search pics"/>
            <button ng-if="! pictures.deleteVisible"
                    class="mdl-button mdl-js-button mdl-button--icon mdl-button--fab mdl-button--colored"
                    type="file" ngf-select="pictures.addPic($file)"
                    accept="image/*" ngf-max-size="4MB">
                <!--ngf-max-height="1000"-->
                <i class="material-icons">add</i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--fab mdl-button--colored"
                    ng-click="pictures.deleteVisible = ! pictures.deleteVisible">
                <i class="material-icons">delete</i>
            </button>
        </div>

        <div class="ps-thumbnails">
            <div class="ps-thumbnail-container"
                 ng-repeat="pic in pictures.pics | filter: search as results track by $id(pic)"
                 ng-click="pictures.selectPic(pic)">
                <img class="ps-thumbnail-img" ng-src="{{pictures.thumbnailUrl}}{{pic.picId}}"/>
                <button ng-if="pictures.deleteVisible"
                        class="ps-small-delete-button mdl-button mdl-js-button mdl-button--icon mdl-button--accent"
                        ng-click="pictures.removePic(pic, $event)">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--5-col mdl-cell--9-col-desktop">
        <div ng-if="pictures.errorMsg || pictures.f.$error">
            {{pictures.errorMsg}} fetching
        <span style="font:smaller">{{pictures.f.name}} {{pictures.f.$error}} {{pictures.f.$errorParam}}
        </span>
        </div>

        <div ng-if="pictures.currentPic.picId">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ps-notes-container">
                <textarea class="mdl-textfield__input" type="text" rows="1" id="note"
                          placeholder="notes" ng-model="pictures.currentPic.note"></textarea>
                <label class="mdl-textfield__label" for="note"></label>
            </div>
            <div>
                {{pictures.currentPic.name}}
              <span class="progress" ng-show="pictures.currentPic.progress >= 0">
                  <span style="width:{{pictures.currentPic.progress}}%"
                        ng-bind="pictures.currentPic.progress + '%'"></span>
              </span>
            </div>
            <img ng-if="pictures.currentPic.picId" class="ps-detailled-img"
                 ng-src="{{pictures.fullPicUrl}}{{pictures.currentPic.picId}}"
                 ng-click="pictures.selectPic({})"/>
        </div>
    </div>

</div>
