/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
textarea,
input {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.tk-header-row {
  padding-left: 16px;
}
.tk-app-title {
  padding-left: 4px;
}
html,
body,
main,
ng-view {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.ps-page-content {
  margin: auto;
}
header img {
  width: 30px;
  height: auto;
}
.tk-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.87;
  margin: 12px 0px;
}
.tk-subheading {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.87;
  margin-top: 10px;
}
.tk-body1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.87;
  margin-top: 10px;
  margin-bottom: 8px;
}
.login-page .ps-auth-page-content {
  margin: 4px;
}
.login-page .ps-auth-page-content .mdl-card {
  margin: auto;
  min-height: initial;
  width: 100%;
  max-width: 400px;
}
.login-page .visit-button {
  float: right;
}
.user-page {
  max-width: 600px;
  width: 100%;
  margin: 2% auto;
  padding: 2%;
  border: 2px solid #3f51b5;
  text-align: center;
}
.user-page .ps-no-icon {
  color: white;
}
.pics-list pics-tools .ps-search-box {
  display: inline;
  width: calc(100% - 104px);
}
.pics-list pics-tools button {
  margin: 8px;
}
.pics-list .ps-thumbnails {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pics-list .ps-thumbnail-img {
  padding: 4px;
  width: 92px;
}
.pics-list .ps-thumbnail-container {
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 33%;
}
.pics-list .ps-small-delete-button {
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.pics-list .ps-notes-container {
  width: 100%;
  padding: 0px;
}
.pics-list .ps-detailled-img {
  max-width: 100%;
  max-height: 600px;
}
.scrum-board {
  /*CSS3 extras*/
}
.scrum-board scrum-board-tools,
.scrum-board scrum-board-groups {
  width: 100%;
}
.scrum-board scrum-board-tools .ps-tool-container {
  width: 100%;
}
.scrum-board scrum-board-tools .ps-tool-group {
  margin-top: 0px;
  margin-bottom: 0px;
}
.scrum-board scrum-board-tools .ps-feature-select {
  float: right;
  margin: 8px;
  margin-top: 16px;
}
.scrum-board scrum-board-tools button {
  margin: 8px;
}
.scrum-board scrum-board-tools input {
  display: inline;
  width: calc(100% - 56px);
}
.scrum-board textarea {
  width: 100%;
}
.scrum-board .mdl-grid {
  padding: 0px;
}
.scrum-board .ps-groups {
  width: 100%;
}
.scrum-board .ps-group {
  padding: 0px 8px;
  border: 3px solid #3f51b5;
}
.scrum-board .ps-group-item {
  border: 2px solid #3f51b5;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0px;
  padding: 8px;
}
.scrum-board .ps-group-item .ps-avatar {
  width: 40px;
  height: 40px;
  margin: 4px;
}
.scrum-board .ps-group-item .no-pic {
  border: 1px solid #3f51b5;
}
.scrum-board .ps-group-item .ps-group-item-content {
  padding-left: 8px;
  width: 100%;
}
.scrum-board .ps-group-item .ps-first-row {
  /*border: 1px solid orange;*/
}
.scrum-board .ps-group-item .ps-second-row {
  /*border: 1px solid purple;*/
}
.scrum-board .ps-group-item .ps-feature {
  /*border: 1px solid blue;*/
  float: left;
  color: #3f51b5;
}
.scrum-board .ps-group-item .ps-sprint-release {
  /*border: 1px solid green;*/
  float: right;
}
.scrum-board .menu {
  position: absolute;
  top: 0px;
  left: 8px;
  background: white;
  width: 110px;
  padding: 8px;
  z-index: 2;
  border: 1px solid #3f51b5;
}
.scrum-board .menu-item {
  width: 100px;
}
.scrum-board div.tooltip {
  outline: none;
}
.scrum-board div.tooltip:hover {
  text-decoration: none;
}
.scrum-board div.tooltip span {
  z-index: 10;
  display: none;
  padding: 14px 20px;
  margin-top: -30px;
  margin-left: 28px;
  width: 100px;
  line-height: 16px;
}
.scrum-board div.tooltip:hover span {
  display: inline;
  position: absolute;
  color: #3f51b5;
  border: 1px solid #3f51b5;
  background: white;
}
.scrum-board .callout {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: -12px;
}
.scrum-board div.tooltip span {
  border-radius: 4px;
  box-shadow: 5px 5px 8px #3f51b5;
}
.list-view {
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.list-view list-view-tools {
  width: 100%;
}
.list-view list-view-tools input {
  display: inline;
  width: calc(100% - 68px);
  margin: 8px;
}
.list-view list-view-tools .ps-tool-container {
  width: 100%;
  padding: 0px;
}
.list-view list-view-tools .ps-tool-group {
  width: 50%;
  margin: 0px;
}
.list-view button {
  margin: 8px;
}
.list-view h6 {
  width: 100%;
  text-align: center;
}
.list-view .ps-group {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.list-view .ps-group-item {
  border: 1px solid #3f51b5;
  width: calc(100% - 2*@min-space);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 4px;
}
.list-view .ps-list-button {
  margin: 16px;
}
.list-view .ps-item-content {
  width: 100%;
  margin: 0px;
}
.list-view .name-input {
  margin: 8px auto;
  width: 100%;
}
.list-view textarea {
  margin: 0px auto;
  width: 100%;
}
