.tk-header-row {
  padding-left: 16px;
}
.tk-app-title {
  padding-left: 4px;
}
html,
body,
main,
ng-view {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.ps-page-content {
  margin: auto;
  padding: 0px 2%;
}
header img {
  width: 30px;
  height: auto;
}
.login-page .ps-auth-page-content {
  margin: 2%;
}
.login-page .ps-auth-page-content .mdl-card {
  margin: auto;
  min-height: initial;
}
.pics-list .ps-tool-container {
  text-align: right;
  padding: 2% 0px;
}
.pics-list .ps-search-box {
  float: left;
  display: inline;
  width: calc(100% - 72px);
}
.pics-list .ps-thumbnails {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}
.pics-list .ps-thumbnail-img {
  padding: 2%;
  width: 96%;
}
.pics-list .ps-thumbnail-container {
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 33%;
}
.pics-list .ps-small-delete-button {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.pics-list .ps-notes-container {
  width: 100%;
}
.pics-list .ps-detailled-img {
  max-width: 100%;
}
.scrum-board scrum-board-tools,
.scrum-board scrum-board-groups {
  width: 100%;
}
.scrum-board textarea {
  width: 98%;
}
.scrum-board input {
  display: inline;
  width: calc(100% - 36px);
}
.scrum-board .mdl-grid {
  padding: 0px;
}
.scrum-board .ps-tool-container {
  width: 100%;
}
.scrum-board .ps-tool-group {
  margin: 6px;
  padding: 1%;
}
.scrum-board .ps-feature-select {
  float: right;
  width: 46%;
  height: 32px;
  margin: 2%;
}
.scrum-board .ps-groups {
  width: 100%;
}
.scrum-board .ps-groups h5 {
  margin: 2% 0px;
}
.scrum-board .ps-group {
  padding: 1%;
  border: 3px solid #3f51b5;
  display: flex;
  flex-direction: column;
}
.scrum-board .ps-group-item {
  border: 2px solid #3f51b5;
  width: 100%;
  display: flex;
  margin: 2% 0px;
}
.scrum-board .ps-group-item .ps-avatar {
  width: 30px;
  height: 30px;
  margin: 2%;
  padding: 2%;
}
.scrum-board .ps-group-item .ps-group-item-content {
  padding: 0px 2%;
  width: calc(100% - 30px);
}
.scrum-board .ps-group-item .ps-first-row {
  /*border: 1px solid orange;*/
}
.scrum-board .ps-group-item .ps-second-row {
  /*border: 1px solid purple;*/
}
.scrum-board .ps-group-item .ps-feature {
  /*border: 1px solid blue;*/
  float: left;
  color: #3f51b5;
}
.scrum-board .ps-group-item .ps-sprint-release {
  /*border: 1px solid green;*/
  float: right;
}
.scrum-board .menu {
  position: absolute;
  top: 0px;
  left: 8px;
  background: white;
  width: 110px;
  padding: 8px;
  z-index: 2;
  border: 1px solid #3f51b5;
}
.scrum-board .menu-item {
  width: 100px;
}
.list-view {
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.list-view list-view-tools {
  width: 100%;
}
.list-view list-view-tools input {
  display: inline;
  width: calc(100% - 50px);
}
.list-view list-view-tools .ps-tool-container {
  width: 100%;
  padding: 1%;
}
.list-view list-view-tools .ps-tool-group {
  margin: 0px auto;
}
.list-view h4 {
  width: 100%;
  margin: 1%;
  text-align: center;
}
.list-view .ps-group {
  width: 92%;
  padding: 1%;
  margin: 0px 2%;
  border: 3px solid #3f51b5;
  display: flex;
  flex-direction: column;
}
.list-view .ps-group-item {
  border: 1px solid #3f51b5;
  width: 96%;
  display: flex;
  flex-direction: row;
  margin: 2%;
}
.list-view .ps-item-content {
  width: 100%;
  margin: 0px;
}
.list-view .name-input {
  margin: 0px auto;
}
.list-view textarea {
  margin: 0px auto;
}
