.tk-header-row {
    padding-left: 16px;
}

.tk-app-title {
    padding-left: 4px;
}

html, body {
    width: 100%;
}

.ps-page-content {
    margin: auto;
    padding: 2%;
    max-width: 800px;
    text-align: center;
}