<div class="scrumBoard mdl-grid ps-page-content">
    {{scrumBoard.errorMsg}}
    <div class="ps-groups mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop ps-tool-group">
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--fab mdl-button--colored"
                    ng-click="scrumBoard.deleteVisible = ! scrumBoard.deleteVisible">
                <i class="material-icons">delete</i>
            </button>
        <input class="mdl-textfield__input"
               type="text" ng-model="search" placeholder="search"/>
        </div>
        <div class="mdl-cell mdl-cell--4-col-tablet ps-tool-group mdl-cell--hide-phone mdl-cell--hide-desktop" >
        </div>
        <div class="mdl-cell mdl-cell-4--col mdl-cell--6-col-desktop ps-tool-group">
            <!--<select class="ps-feature-select" ng-options="status.name for status in scrumBoard.statuses"-->
                    <!--ng-model="selected"></select>-->
            <select class="ps-feature-select" ng-options="feature.name for feature in scrumBoard.features"
                    ng-model="scrumBoard.currentFeature"></select>
        </div>
        <div ng-if="! scrumBoard.deleteVisible && scrumBoard.featureSelected()"
             class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop  ps-tool-group">
        <input class="mdl-textfield__input" type="text" ng-model="scrumBoard.newStory.name"
               placeholder="new story name"/>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--fab mdl-button--colored"
                ng-click="scrumBoard.addStory()">
            <i class="material-icons">add</i>
        </button>
        </div>
    </div>

    <div class="ps-groups mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop ps-group"
             droppable drop-fn="scrumBoard.setStatus" drop-ctrl="scrumBoard"
             ng-repeat="status in scrumBoard.statuses" drop-value="{{status._id}}">

            <h5>{{status.name}}</h5>
            <div class="ps-group-item" draggable dragstart-fn="scrumBoard.setDraggedStory"
                 drag-ctrl="scrumBoard" drag-index="$index"
                 ng-repeat="story in scrumBoard.stories | filter: status.name | filter: search track by $id(story)"
                 ng-click="scrumBoard.editStory(story)" drag-item="story">

                <button ng-if="scrumBoard.deleteVisible"
                        class="ps-small-delete-button mdl-button mdl-js-button mdl-button--icon mdl-button--accent"
                        ng-click="scrumBoard.removeStory(story, $event)">
                    <i class="material-icons">delete</i>
                </button>
                <img class="ps-avatar" ng-src="{{scrumBoard.thumbnailUrl}}55dd009fa2909451656e9114"/>
                <div class="ps-group-item-content">
                    <div class="ps-first-row">{{story.name}}</div>
                    <div class="ps-second-row">
                        <span class="ps-feature">{{story.feature.name}}</span>
                        <span class="ps-sprint-release">sprint-1</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
