<!--{{sbTools.test}}-->
<div class="scrumBoard ps-groups mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop ps-tool-group">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--fab mdl-button--colored"
                ng-click="scrumBoard.deleteVisible = ! scrumBoard.deleteVisible">
            <i class="material-icons">delete</i>
        </button>
        <input class="mdl-textfield__input"
               type="text" ng-model="search" placeholder="search"/>
    </div>

    <div class="mdl-cell mdl-cell--4-col-tablet ps-tool-group mdl-cell--hide-phone mdl-cell--hide-desktop">
    </div>
    <div class="mdl-cell mdl-cell-4--col mdl-cell--6-col-desktop ps-tool-group">
        <!--<select class="ps-feature-select" ng-options="status.name for status in scrumBoard.statuses"-->
        <!--ng-model="selected"></select>-->
        <select class="ps-feature-select"
                ng-options="feature.name for feature in scrumBoard.features | orderBy:'name'"
                ng-model="scrumBoard.currentFeature">
        </select>
    </div>

    <div ng-if="! scrumBoard.deleteVisible && scrumBoard.featureSelected()"
         class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop  ps-tool-group">
        <form ng-submit="scrumBoard.addStory()">
            <input class="mdl-textfield__input" type="text" ng-model="scrumBoard.newStory.name"
                   placeholder="new story name"/>
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--fab mdl-button--colored"
                    >
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
</div>