<!--{{features.test}}-->
<div class="list-view ">
    <h6 class="tk-title">Features</h6>

    <list-view-tools get-these="features.data"></list-view-tools>

    <div class="ps-group">
        <div class="ps-group-item"
             ng-repeat="feature in features.features | filter: features.data.search |
             filter: { noShow: false } | orderBy: 'name'">
            <span>
                <button ng-if="features.data.deleteVisible"
                        class="ps-list-button mdl-button mdl-js-button mdl-button--icon mdl-button--accent"
                        ng-click="features.removeFeature(feature, $event)">
                    <i class="material-icons">delete</i>
                </button>
                <button ng-if="! features.data.deleteVisible"
                        class="ps-list-button mdl-button mdl-js-button mdl-button--icon mdl-button--accent"
                        ng-click="features.startStopEditing(feature)">
                    <i class="material-icons">edit</i>
                </button>
            </span>
            <span ng-if="! feature.editing" class="ps-item-content">
                <div class="tk-subheading">{{feature.name}}</div>
                <div class="tk-body1">{{feature.description}}</div>
            </span>
            <span ng-if="feature.editing" class="ps-item-content">
                <div>
                    <input class="mdl-textfield__input name-input" type="text" ng-model="feature.name"
                           placeholder="feature name"/>
                </div>
                <textarea class="mdl-textfield__input" type="text" ng-model="feature.description"
                          placeholder="description"></textarea>
            </span>
        </div>
    </div>

</div>