<!--{{features.test}}-->
<div class="list-view ">
    <h4>Features</h4>

    <list-view-tools get-these="features.data"></list-view-tools>

    <div class="ps-group">
        <div class="ps-group-item"
             ng-repeat="feature in features.features | filter: features.data.search |
             filter: { noShow: false } | orderBy: 'name'">
            <span>
                <button ng-if="features.data.deleteVisible"
                        class="ps-small-delete-button mdl-button mdl-js-button mdl-button--icon mdl-button--accent"
                        ng-click="features.removeFeature(feature, $event)">
                    <i class="material-icons">delete</i>
                </button>
                <button ng-if="! features.data.deleteVisible"
                        class="ps-small-delete-button mdl-button mdl-js-button mdl-button--icon mdl-button--accent"
                        ng-click="features.startStopEditing(feature)">
                    <i class="material-icons">edit</i>
                </button>
            </span>
            <span ng-if="! feature.editing" class="mdl-grid ps-item-content">
                <span class="mdl-cell">{{feature.name}}</span>
                <span class="mdl-cell">{{feature.description}}</span>
            </span>
            <span ng-if="feature.editing" class="mdl-grid ps-item-content">
                <input class="mdl-cell mdl-cell--6-col name-input" type="text" ng-model="feature.name"
                       placeholder="feature name"/>
                <textarea class="mdl-cell mdl-cell--6-col" type="text" ng-model="feature.description"
                          placeholder="description"></textarea>
            </span>
        </div>
    </div>

</div>