.list-view {
  max-width: @default-max-content-width;
  width: 100%;
  margin: auto;

  list-view-tools {
    width: 100%;

    input {
      display: inline;
      width: calc(~'100% - 50px');
    }

    .ps-tool-container {
      width: 100%;
      padding: 1%;
    }

    .ps-tool-group {
      margin: 0px auto;
      //padding: 1%;
    }
  }

  h4 {
    width: 100%;
    margin: 1%;
    text-align: center;
  }

  .ps-group {
    width: 92%;
    padding: 1%;
    margin: 0px @default-padding;
    border: 3px solid @primary-color;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ps-group-item {
    border: 1px solid @primary-color;
    width: 96%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    //justify-content: space-between;
    margin: @default-padding;
  }

  .ps-item-content {
    width: 100%;
    margin: 0px;
    //border: 1px solid red;
  }

  .name-input {
    margin: 0px auto;
    //border: 1px solid red;
  }

  textarea {
    margin: 0px auto;
    //border: 1px solid red;
  }

}