.list-view {
  max-width: 600px;
  margin: auto;

  list-view-tools {
    width: 100%;

    input {
      display: inline;
      width: calc(~'100% - 36px');
    }

    .ps-tool-container {
      width: 100%;
    }

    .ps-tool-group {
      margin: 1% auto;
      //padding: 1%;
    }
  }

  h4 {
    width: 100%;
    margin: 1%;
    text-align: center;
  }

  .ps-group {
    width: 100%;
    padding: 1%;
    border: 3px solid @primary-color;
    display: flex;
    flex-direction: column;
  }

  .ps-group-item {
    border: 1px solid @primary-color;
    width: calc(~'100% - 2*@default-padding');
    display: flex;
    margin: @default-padding;
  }


}