.pics-list {
  .ps-tool-container {
    text-align: right;
    padding: @default-padding 0px;
  }

  .ps-search-box {
    float: left;
    display: inline;
    width: calc(~'100% - 72px');
  }

  .ps-thumbnails {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .ps-thumbnail-img {
    padding: @default-padding;
    width: 100 - 2*@default-padding;
  }

  .ps-thumbnail-container {
    position: relative;
    display: inline-block;
    text-align: center;
    max-width: 33%;
  }

  .ps-small-delete-button {
    position: absolute;
    bottom: @default-padding;
    right: @default-padding;
  }

  .ps-notes-container {
    width: 100%;
  }

  .ps-detailled-img {
    max-width: 100%;
  }
}