.scrumBoard {
  input {
    display: inline;
    width: calc(~'100% - 36px');
  }

  .mdl-grid {
    padding: 0px;
  }

  .ps-tool-container {
    width: 100%;
  }

  .ps-tool-group {
    margin: 6px;
    padding: 1%;
  }

  .ps-feature-select {
    float: right;
    width: 46%;
    height: 32px;
    //margin-top: @default-padding;
    margin: @default-padding;
  }

  .ps-groups {
    width: 100%;
  }

  .ps-groups h5 {
    margin: @default-padding 0px;
  }

  .ps-group {
    padding: 1%;
    border: 3px solid @primary-color;
    display: flex;
    flex-direction: column;
  }

  .ps-group-item {
    border: 2px solid @primary-color;
    width: 100%;
    display: flex;
    margin: @default-padding 0px;
  }

  .ps-group-item .ps-avatar {
    width: 30px;
    height: 30px;
    margin: @default-padding;
  }

  .ps-group-item .ps-group-item-content {
    padding: 0px @default-padding;
    width: calc(~'100% - 30px');
  }

  .ps-group-item .ps-first-row {
    /*border: 1px solid orange;*/
  }

  .ps-group-item .ps-second-row {
    /*border: 1px solid purple;*/
  }

  .ps-group-item .ps-feature {
    /*border: 1px solid blue;*/
    float: left;
    color: @primary-color;
  }

  .ps-group-item .ps-sprint-release {
    /*border: 1px solid green;*/
    float: right;
  }
}