.scrum-board {

  scrum-board-tools, scrum-board-groups {
    width: 100%;
  }

  scrum-board-tools {
    .ps-tool-container {
      width: 100%;
    }

    .ps-tool-group {
      margin-top:0px;
      margin-bottom:0px;
    }

    .ps-feature-select {
      float: right;
      margin: @min-space;
      margin-top: @touch-space;
    }

    button {
      margin: @min-space;
    }

    input {
      display: inline;
      width: calc(~'100% - 56px');
    }

  }

  textarea {
    width: 100%;
  }

  .mdl-grid {
    padding: 0px;
  }


  .ps-groups {
    width: 100%;
  }

  .ps-groups h6 {
    //padding-left: @min-space;
  }

  .ps-group {
    padding: 0px @min-space;
    border: 3px solid @primary-color;
  }

  .ps-group-item {
    border: 2px solid @primary-color;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: @min-space 0px;
    padding: @min-space;
  }

  .ps-group-item .ps-avatar {
    width: @avatar-width;
    height: @avatar-width;
    margin: @avatar-space;
  }

  .ps-group-item .no-pic {
    border: 1px solid @primary-color;
  }


  .ps-group-item .ps-group-item-content {
    //padding: 0px @min-space;
    padding-left: @min-space;
    width: 100%;
  }

  .ps-group-item .ps-first-row {
    /*border: 1px solid orange;*/
  }

  .ps-group-item .ps-second-row {
    /*border: 1px solid purple;*/
  }

  .ps-group-item .ps-feature {
    /*border: 1px solid blue;*/
    float: left;
    color: @primary-color;
  }

  .ps-group-item .ps-sprint-release {
    /*border: 1px solid green;*/
    float: right;
  }


  .menu {
    position: absolute;
    top: 0px;
    left:8px;
    background: white;
    width: 110px;
    padding: 8px;
    z-index: 2;
    border: 1px solid @primary-color;
  }

  .menu-item {
    width: 100px;
  }

  div.tooltip {outline:none; }
  div.tooltip:hover {text-decoration:none;}
  div.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:100px; line-height:16px;
  }
  div.tooltip:hover span{
    display:inline; position:absolute; color:@primary-color;
    border:1px solid @primary-color; background:white;}
  .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

  /*CSS3 extras*/
  div.tooltip span
  {
    border-radius:4px;
    box-shadow: 5px 5px 8px @primary-color;
  }
}